<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fevi.fadong" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieActivity"
            android:label="@string/title_activity_movie"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FullScreenVideoActivity"
            android:label="@string/title_activity_full_screen_video"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>
